<div class="container">
  <p id="notice"><%= notice %></p>
  <br>

  <h1 class="page-header">
      Matt Groff's Blog
      <small>Learning Rails from a JS Perspective</small>
  </h1>

  <div>
      <strong><h2><%= link_to @post.title, @post %></h2></strong>
      </h2>
      <hr>
      <div><%= markdownHelper @post.body %></div>
      -------------------------------------
      <div>
        <a class="btn btn-warning" href="<%= edit_post_path(@post) %>">
          Edit
        </a>
      </div>
  </div>
</div>